@inherits BunitContext

@code{
		[Fact]
		public void DateInputDecreasesWhenLeftButtonClicked()
		{
		Services.AddSingleton<Blazored.Toast.Services.IToastService, Blazored.Toast.Services.ToastService>();
			var cut = Render(@<EduWork.UI.WorkTime.WorkTime/>);

			// Assert that content of the paragraph shows counter at zero
			cut.Find("button#lijeviChevron").Click();
			cut.Find("h4.odabraniDan")
	.MarkupMatches($"<h4 class=\"odabraniDan\" >Vremenski odsječci za {DateTime.Now.Day - 1}/{DateTime.Now.Month}/{DateTime.Now.Year}:</h4>");
		}

	[Fact]
	public void DateInputIncreasesWhenRightButtonClicked()
	{
		Services.AddSingleton<Blazored.Toast.Services.IToastService, Blazored.Toast.Services.ToastService>();
		var cut = Render(@<EduWork.UI.WorkTime.WorkTime />);

		// Assert that content of the paragraph shows counter at zero
		cut.Find("button#desniChevron").Click();
		cut.Find("h4.odabraniDan")
	.MarkupMatches($"<h4 class=\"odabraniDan\" >Vremenski odsječci za {DateTime.Now.Day + 1}/{DateTime.Now.Month}/{DateTime.Now.Year}:</h4>");
	}
}15 do 1