
@using EduWork.Common.DTO
@inject HttpClient Http
<h4 style="margin-top:50px">Unos radnog vremena:</h4>
<EditForm Model="workTimePart" OnValidSubmit="saveWorkTimeRecord">
    <DataAnnotationsValidator/>
    <div class="form-group" style="margin-left:20px">
        <label style="margin-bottom:10px" for="workDate">Odaberite dan:</label> <br />
        <InputDate id="workDate" @bind-Value="selectedDate" class="form-control" style="max-width:fit-content; margin-left:20px" />
        <ValidationMessage For="@(() => workTimePart.WorkDate)" /><br />
        <label style="margin-bottom:10px">Unesite odsječak radnog vremena:</label><br />
        
        <InputDate id="startTime" @bind-Value="workTimePart.StartTime" Type="InputDateType.Time" class="form-control" style=" display:inline-block; max-width:fit-content; margin-left:40px" />
        <ValidationMessage For="@(() => workTimePart.StartTime)" />
        -
        <InputDate id="endTime" @bind-Value="workTimePart.EndTime" Type="InputDateType.Time" class="form-control" style=" display:inline-block; max-width:fit-content;" />
        <ValidationMessage For="@(() => workTimePart.EndTime)" />

    </div>
    <button class="btn btn-primary" style="margin-top:15px " type="submit">Unesi</button>
   
</EditForm>

@code {
    [Parameter] public EventCallback<DateOnly> OnDateChanged { get; set; }



    SetWorkDayTimeDTO workTimePart = new SetWorkDayTimeDTO
    {
            WorkDate = DateOnly.FromDateTime(DateTime.Now),
            UserId = 1,
            StartTime = TimeOnly.FromDateTime(DateTime.Now)
    };
    
    public DateOnly selectedDate
    {
        get => workTimePart.WorkDate;
        set
        {
            workTimePart.WorkDate = value;
            OnDateChanged.InvokeAsync(value);
        }
    }

    async Task saveWorkTimeRecord()
    {
        var response = await Http.PostAsJsonAsync("api/WorkDayTimes", workTimePart);
        Console.WriteLine(response.StatusCode);
    }

    }
