@page "/worktime"
@using EduWork.Common.DTO

<PageTitle>Radno vrijeme</PageTitle>

<h3 style="text-align:center">Upravljanje radnim vremenom</h3>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <InputWorkTimeRecordForm></InputWorkTimeRecordForm>
        </div>
        <div class="col-sm">
            <h4 style="margin-top:50px">Vremenski odsječci za odabrani dan:</h4>
        </div>
        
    </div>
    

    
</div>



@code {
}
