@page "/worktime"
@using EduWork.Common.DTO

<PageTitle>Radno vrijeme</PageTitle>

<h3 style="text-align:center">Upravljanje radnim vremenom</h3>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <InputWorkTimeRecordForm OnDateChanged="DateChanged"></InputWorkTimeRecordForm>
        </div>
        <div class="col-sm">
            <CurrentDayWorkTimeRecords></CurrentDayWorkTimeRecords>
        </div>
        
    </div>
    

    
</div>



@code {
    DateOnly selectedDate;
    public async void DateChanged(DateOnly _selectedDate)
    {
        selectedDate = _selectedDate;
    }
}
