@page "/worktime"
@using EduWork.Common.DTO

<PageTitle>Radno vrijeme</PageTitle>

<h4 style="text-align:center">Upravljanje radnim vremenom</h4>

<div class="container">
    <div class="row g-2">
        <div style="margin-top:50px; "class="col-md-6">
            
                <InputWorkTimeRecord OnDateChanged="DateChanged" OnNewRecord="UpdateTable"></InputWorkTimeRecord>
            
            
        </div>
        <div style="margin-top:50px;" class=" col-md-6">
           
                <WorkTimeRecords request="request" @ref="child"></WorkTimeRecords>
          
            
        </div>
        
    </div>
    

    
</div>


@code {
    WorkTimeRecords? child;
    RequestWorkTimePartsDTO request = new RequestWorkTimePartsDTO
        {
            UserId = 1,
            Day = DateTime.Now.Day,
            Month = DateTime.Now.Month,
            Year = DateTime.Now.Year
        };
    DateOnly selectedDate;
    public async void DateChanged(DateOnly _selectedDate)
    {
        selectedDate = _selectedDate;
        request.UserId = 1;
        request.Day = selectedDate.Day;
        request.Month = selectedDate.Month;
        request.Year = selectedDate.Year;
        await child!.Update();

    } 

    public async void UpdateTable()
    {
        await child!.Update();
    }
}
